<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What's Cookin'</title>
</head>
<body>

    <form id= "meal-search">
        <label for="fname">Meal Search </label><br>
        <input type="text" id="fname" name="fname" value="Chicken"><br>
        <input type="submit" value="Submit">
      </form> 
</body>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../public/assets/js/app.js"></script>
</html>