form.signup,
form.login {
  margin-top: 50px;
}

body {
  background-image: url("https://images.unsplash.com/photo-1487147264018-f937fba0c817?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-size: 100%;
}

.navbar {
  background-color: cadetblue;
  height: 90px;

}

.navbar-header {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  text-align: center;
}

.navbar-brand {
  font-weight: bold;
  text-align: center;
}

h1 {
  font-size: 50px;
  text-shadow: #fff 2px 2px 5px;
}


.container {
  /* background-image: url("https://images.unsplash.com/photo-1470549813517-2fa741d25c92?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"); */
  background-image: url("https://images.unsplash.com/photo-1512621776951-a57141f2eefd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  background-size: 100%;
  font-weight: bold;
  font-size: 20px;
  color: white;
  text-shadow: #000 1px 1px 4px;
}

h2 {
  font-size: 36px;
  color: white;
  text-shadow: #000 1px 1px 4px;
}

